@model LogisticsWebApp.Models.TransportUnit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TransportUnit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransportUnitID" />
            <div class="form-group">
                <label asp-for="LorryID" class="control-label"></label>
                <select asp-for="LorryID" class="form-control" asp-items="ViewBag.LorryID"></select>
                <span asp-validation-for="LorryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverID" class="control-label"></label>
                <select asp-for="DriverID" class="form-control" asp-items="ViewBag.DriverID"></select>
                <span asp-validation-for="DriverID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssistantID" class="control-label"></label>
                <select asp-for="AssistantID" class="form-control" asp-items="ViewBag.AssistantID"></select>
                <span asp-validation-for="AssistantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Container" class="control-label"></label>
                <input asp-for="Container" class="form-control" />
                <span asp-validation-for="Container" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
